h1,
p {
    text-align: center;
}

#memory {
    background: black;
    width: 700px;
    height: 600px;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 160px);
    grid-gap: 20px;
}

img {
    width: 100%;
    height: 190px;
}
span {
    height: 190px;
}
